
<h1>Profile</h1>
Name: <% @player.name %>
<ul>
<% @wins.each do |match| %>
  <li>  Winning Faction: <%= match.winner_faction %></li>
<% end %>
</ul>

<ul>
<% @loses.each do |match| %>
  <li>  Losing Faction: <%= match.loser_faction %></li>
<% end %>
</ul>